.form {
  margin: 0;
  padding: 0;
  border: 1px solid #3c3c3c;
}

.btn {
  opacity: 0;
}

.form-field {
  input {
    padding: 0;
    margin: 0;
    line-height: 1em;
    height: 1em;
    border: 1px solid #d5d5;
  }
}