include ../../atoms/button/index
mixin form-field(data)
    - var _data = data || {}
    .form-field&attributes(_data)
        if block
            block

mixin form(data)
    - var _data = data || {}
    form(action="#12", novalidate).form&attributes(_data)
        if block
            block
            +button-submit("Submit")